{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
window.replData = {{ repl|json|safe }}
window.token = "{{ token }}"
</script>
<script src="/crosis.js"></script>
<script src="/repl.js"></script>
<script src="/ace/ace.js"></script>
<script>
</script>
{% endblock %}
{% block main %}
<div class="panes">
	<div class="pane" id="headerBar">
		<button id="runButton">Run</button>
	</div>
	<ul class="pane fileItemList">

	</ul>
	<pre class="pane" id="editor"></pre>
	<div class="pane" id="terminal">
		hi
	</div>
</div>
{% endblock %}